
.cuadro{
    border: 2px solid black;
    width: 600px;
    background: gainsboro;
}

.person{
    width: 40px;
    height: 40px;
    color: #000;
}
  
.texto{
    border: 2px solid black;
    padding: auto;
}

.letras{
    font-size: 20px;
    font-family: pompiere;
}


